{% extends 'base.html' %}
{% load static %}

{% block style %}
<!-- Add your styles here if needed -->
{% endblock %}

{% block content %}

<br>
<body>
    {% if error %}
<script>
    Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: "Client is already booked in an occupied room."
    });
</script>
{% endif %}

{% if success %}
<script>
    Swal.fire({
        icon: 'success',
        title: 'Success',
        text: 'Client booked successfully!'
    });
</script>
{% endif %}

    <div class="tainer">
        <div class="row">
            <div class="col-md-6">
                <h2>Client Details</h2>
                
                
                
                <form method="post" action="{% url 'Book_A_Client' %}">
                    {% csrf_token %}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="for_reservation" value="on">
                        <label class="form-check-label" for="flexSwitchCheckDefault">For Reservation</label>
                    </div>
                    <div class="mb-3">
                        <label for="mobile" class="form-label">Mobile</label>
                        <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Enter your mobile number" required>
                        <div id="message"></div>
                    </div>
                    <div class="mb-3">
                        <label for="surname" class="form-label">Surname</label>
                        <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter your surname">
                    </div>
                    <div class="mb-3">
                        <label for="othernames" class="form-label">Othernames</label>
                        <input type="text" class="form-control" id="othernames" name="othernames" placeholder="Enter your other names">
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Enter your address">
                    </div>
                    
            </div>
            <div class="col-md-6">
                <h2>Room Booking</h2>
                    <div class="mb-3">
                        <label for="room" class="form-label">Room</label>
                        <select class="form-select" id="room" name="room" onchange="calculateAmountDue()">
                            <option value="">Select Room</option>
                            {% for room in rooms %}
                            <option value="{{ room.id }}" data-price="{{ room.amount }}">{{ room.category }} - {{ room.number }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="payment_mode" class="form-label">Mode of Payment</label>
                        <select class="form-select" id="payment_mode" name="payment_mode">
                            <option value="">Select Mode of Payment</option>
                            <option value="bank_transfer">Bank Transfer</option>
                            <option value="cash">Cash</option>
                            <option value="momo">MoMo</option>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="checkin" class="form-label">Check-in</label>
                        <input type="date" class="form-control" id="checkin" name="checkin" onchange="calculateAmountDue()">
                    </div>
                    <div class="mb-3">
                        <label for="checkout" class="form-label">Check-out</label>
                        <input type="date" class="form-control" id="checkout" name="checkout" onchange="calculateAmountDue()">
                    </div>
                    <div class="row">
                    <div class="col-6">
                        <label for="adult" class="form-label">Number of Adult</label>
                        <input type="number" class="form-control" id="adult" name="adult" required>
                    </div>
                    <div class="col-6">
                        <label for="children" class="form-label">Number of Kids</label>
                        <input type="number" class="form-control" id="children" name="children" required>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="amount_paid" class="form-label">Amount Paid</label>
                            <input type="tel" class="form-control" id="amount_paid" name="amount_paid" placeholder="Enter Amount Ghc" oninput="calculateArrears()">
                        </div>
                        <div class="col-md-4">
                            <label for="amount_due" class="form-label">Amount Due</label>
                            <input type="tel" class="form-control" id="amount_due" name="amount_due" placeholder="Amount Due Ghc" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="arrears" class="form-label">Arrears</label>
                            <input type="tel" class="form-control" id="arrears" name="arrears" placeholder="Balance Ghc" readonly>
                        </div>
                    </div>
                    <div class="col-12 " style="margin-top: 10px;">
                        <button id="sub" type="submit" class="btn btn-primary">Book Client</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('mobile').addEventListener('input', function() {
        var mobileNumber = this.value;

        if (mobileNumber) {
            fetch(`/check-user-exists/?mobile=${mobileNumber}`)
                .then(response => response.json())
                .then(data => {
                    var message = document.getElementById('message');
                    var surname = document.getElementById('surname');
                    var othernames = document.getElementById('othernames');
                    var address = document.getElementById('address');
                    var sub = document.getElementById('sub')

                    if (data.exists) {
                        message.textContent = "User already exists";
                        message.style.color = "green";

                        // Disable the fields
                        surname.disabled = true;
                        othernames.disabled = true;
                        address.disabled = true;
                        sub.textContent = "Re-book Client"

                        // Remove the required attribute
                        surname.required = false;
                        othernames.required = false;
                        address.required = false;
                    } else {
                        message.textContent = "User doesn't exist";
                        message.style.color = "blue";

                        // Enable the fields
                        surname.disabled = false;
                        othernames.disabled = false;
                        address.disabled = false;
                        sub.textContent = "Book Client"

                        // Add the required attribute
                        surname.required = true;
                        othernames.required = true;
                        address.required = true;
                    }
                });
        }
    });

        </script>
        

    <script>
        function calculateAmountDue() {
            var checkin = document.getElementById("checkin").value;
            var checkout = document.getElementById("checkout").value;
            var roomSelect = document.getElementById("room");
            var selectedRoom = roomSelect.options[roomSelect.selectedIndex];
            var roomPrice = selectedRoom.getAttribute("data-price");

            if (checkin && checkout && roomPrice) {
                var checkinDate = new Date(checkin);
                var checkoutDate = new Date(checkout);
                var timeDiff = checkoutDate - checkinDate;
                var days = Math.ceil(timeDiff / (1000 * 3600 * 24));

                if (days > 0) {
                    var amountDue = days * roomPrice;
                    document.getElementById("amount_due").value = amountDue;
                    calculateArrears();
                }
            }
        }

        function calculateArrears() {
            var amountPaid = parseFloat(document.getElementById("amount_paid").value) || 0;
            var amountDue = parseFloat(document.getElementById("amount_due").value) || 0;
            var arrears = amountDue - amountPaid;
            document.getElementById("arrears").value = arrears > 0 ? arrears : 0;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>

{% endblock %}
