{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block style %}
{% endblock %}

{% block content %}
<!-- Jobs Start -->

<script>
    {% for message in messages %}
        Swal.fire({
            icon: '{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}',
            title: '{% if message.tags == "error" %}Error{% else %}Success{% endif %}',
            text: '{{ message }}'
        });
    {% endfor %}
</script>

<div class="container">
    <div class="row" style="margin-top: 30px;">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Booked Clients</h1>
        <div><a href="{% url 'Book_A_Client' %}" class="btn btn-success">Book A Client</a>
</div><hr><br>
        <div class="col-6">
            <table class="table table-bordered" style="margin: 15px 5px;" id="arrearTable">
                <thead>
                    <tr>
                        <th scope="col" style=" font-weight: bolder; font-size: large;">#</th>
                        <th scope="col" style=" font-weight: bolder; font-size: large;">Name</th>
                        <th scope="col" style=" font-weight: bolder; font-size: large;">Address</th>
                        <th scope="col" style=" font-weight: bolder; font-size: large;">Mobile</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in clients %}
                    <tr>
                        <th scope="row">{{x.id}}</th>
                        <td>{{x.get_full_name}}</td>
                        <td>{{x.address}}</td>
                        <td>{{x.mobile}}</td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>


        </div>
        <div class="col-6">
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                    
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                            <h6 class="mt-n1 mb-0">Clients Checked Out <span
                                style="padding: 2px 5px;  color: white; border-radius: 50%; background-color:rgb(18, 87, 18)">
                                {{cbookedc}}</span>
                            </h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill"
                            href="#tab-3">
                            <h6 class="mt-n1 mb-0">On Board <badge
                                    style="padding: 2px 5px; color: white; border-radius: 50%; background-color:brown">
                                    {{bookedc}}</badge>
                            </h6>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- for tab 1 -->
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        {% for xx in cbooked %}
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">{{xx.get_full_name}}</h5>
                                        <h6 class="mb-3">{{xx.address}}</h6>
                                    
                                        <span class="text-truncate me-3"><i
                                                class="fa fa-phone-alt text-primary me-2"></i>
                                            {{xx.mobile}}</span>
                                        
                                        
                                    </div>
                                </div>
                                <div
                                    class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-primary" href="">Call</a>
                                    </div>
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-primary" href="" onclick="copyAndNavigate('{{ xx.mobile }}', 'bookclient')">Re-Book</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>


                        <!-- this for tab 3 -->
                        <div id="tab-3" class="tab-pane fade show p-0">
                            {% for x in booked %}
                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">

                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">{{x.client.get_full_name}}</h5>
                                            <h5 class="mb-3">Room {{x.room}}</h5>
                                            <span class="text-truncate me-3"><i
                                                    class="fa fa-phone-alt text-primary me-2"></i>
                                                {{x.client.mobile}}</span>

                                            <small class="text-truncate"><i
                                                    class="far fa-calendar-alt text-primary me-2"></i>Check-out
                                                {{x.Check_out}} </small>
                                        </div>
                                    </div>
                                    <div
                                        class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-primary" href="{{x.client.mobile}}">call</a>
                                        </div>
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-primary" href="{% url 'checkout' idd=x.client.id %}">Check-Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Jobs End -->


{% endblock %}
{% block js %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/buttons.print.min.js' %}"></script>
<script src="{% static 'js/jszip.min.js' %}"></script>
<script src="{% static 'js/pdfmake.min.js' %}"></script>
<script src="{% static 'js/vfs_fonts.js' %}"></script>
<script>
    function copyAndNavigate(number, url) {
        navigator.clipboard.writeText(number).then(function() {
            window.location.href = url;
        }, function(err) {
            console.error('Could not copy text: ', err);
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('#arrearTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copy',
                    className: 'btn btn-success'
                },
                {
                    extend: 'csv',
                    text: 'CSV',
                    className: 'btn btn-success'
                },
                {
                    extend: 'excel',
                    text: 'Excel',
                    className: 'btn btn-success'
                },
                {
                    extend: 'pdf',
                    text: 'PDF',
                    className: 'btn btn-success'
                },
                {
                    extend: 'print',
                    text: 'Print',
                    className: 'btn btn-success'
                }
            ]
        });
    });
</script>
{% endblock %}