{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'package/dist/sweetalert2.min.css' %}">
<link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <style>
        .sumcard{
            margin-top: 50px;
            margin-bottom: 20px;
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
        .actcard1{
            border-radius: 10px;
            box-shadow: 0 0 3px gray;
            border-bottom: 8px solid darkgreen;
            width: 250px;
            height: 190px;
            background-color: aliceblue;
        }
        .actcard2{
            border-radius: 10px;
            box-shadow: 0 0 3px gray;
            border-bottom: 8px solid rgb(100, 0, 67);
            width: 250px;
            height: 190px;
            background-color: aliceblue;
        }
        .actcard3{
            border-radius: 10px;
            box-shadow: 0 0 3px gray;
            border-bottom: 8px solid rgb(158, 50, 0);
            width: 250px;
            height: 190px;
            background-color: aliceblue;
        }
        .actcard4{
            border-radius: 10px;
            box-shadow: 0 0 3px gray;
            border-bottom: 8px solid rgb(0, 150, 155);
            width: 250px;
            height: 190px;
            background-color: aliceblue;
        }
    </style>
{% endblock %}

{% block content %}
<div class="sumcard">
    <div class="actcard1">
        <center style="margin-top: 30px; margin-bottom: auto;">
            <h3><i class="fas fa-door-open"></i></h3>
            <h3>No. Of Rooms</h3>
            <h3>{{ number_of_rooms }}</h3>
        </center>
    </div>
    <div class="actcard2">
        <center style="margin-top: 30px; margin-bottom: auto;">
        <h3><i class="fas fa-bed"></i></h3>
            <h3>Available Rooms</h3>
            <h3>{{ available_rooms }}</h3>
        </center>
    </div>
    <div class="actcard3">
        <center style="margin-top: 30px; margin-bottom: auto;">
        <h3> <i class="fas fa-users"></i> </h3>
            <h3>No. Of Clients</h3>
            <h3>{{ number_of_clients }}</h3>
        </center>
    </div>
    <div class="actcard4">
        <center style="margin-top: 30px; margin-bottom: auto;">
        <h3> <i class="fas fa-money-bill-wave"></i></h3> 
            <h3>Total Arrears</h3>
            <h3>{{ total_arrears }}</h3>
        </center>
    </div>
</div>


<center>
<a href="{% url 'Book_A_Client' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Book A Client</a>
<a href="{% url 'client-detail' %}" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Check Client Out</a>
</center>

<div class="container">
    <h2>Arrears</h2>
    <table class="table table-bordered" style="margin: 15px 5px;" id="arrearTable">
        <thead>
            <tr>
                <th scope="col" style=" font-weight: bolder; font-size: large;">#</th>
                <th scope="col" style=" font-weight: bolder; font-size: large;">Client</th>
                <th scope="col" style=" font-weight: bolder; font-size: large;">Room</th>
                <th scope="col" style=" font-weight: bolder; font-size: large;">Arrears</th>
            </tr>
        </thead>
        <tbody>
            {% for x in arrears_clients %}
            <tr>
                <th scope="row">{{x.id}}</th>
                <td>{{x.booked.client.get_full_name}}</td>
                <td>{{x.booked.room}}</td>
                <td>{{x.arrears}}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/buttons.print.min.js' %}"></script>
<script src="{% static 'js/jszip.min.js' %}"></script>
<script src="{% static 'js/pdfmake.min.js' %}"></script>
<script src="{% static 'js/vfs_fonts.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#arrearTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copy',
                    className: 'btn btn-success'
                },
                {
                    extend: 'csv',
                    text: 'CSV',
                    className: 'btn btn-success'
                },
                {
                    extend: 'excel',
                    text: 'Excel',
                    className: 'btn btn-success'
                },
                {
                    extend: 'pdf',
                    text: 'PDF',
                    className: 'btn btn-success'
                },
                {
                    extend: 'print',
                    text: 'Print',
                    className: 'btn btn-success'
                }
            ]
        });
    });
</script>

    {% endblock %}