{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center" style="min-height:75vh;align-items:center;">
    <div class="ui-card" style="max-width:720px;width:100%">
        <h4 class="mb-3">Staff Sign Up</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-12 col-sm-6">
                    <input name="name" type="text" class="form-control" placeholder="Staff Name" required>
                </div>
                <div class="col-12 col-sm-6">
                    <input name="email" type="email" class="form-control" placeholder="Staff Email" required>
                </div>
                <div class="col-12 col-sm-6">
                    <label class="form-label">Staff Position</label>
                    <select name="position" class="form-select" required>
                        <option value="">Select Position</option>
                        <option value="kitchen">Kitchen Staff</option>
                        <option value="cleaner">Cleaner</option>
                        <option value="security">Security</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6">
                    <label class="form-label">Staff ID Card</label>
                    <input name="id_card" type="file" class="form-control bg-white">
                </div>
                <div class="col-12">
                    <textarea name="details" class="form-control" rows="4" placeholder="Other details"></textarea>
                </div>
                <div class="col-12 col-sm-6">
                    <input name="password" type="password" class="form-control" placeholder="Staff Password" required>
                </div>
                <div class="col-12 col-sm-6">
                    <input name="confirm_password" type="password" class="form-control" placeholder="Confirm Password" required>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}